---
import Layout from "@/layouts/Layout.astro";
import AuthHeader from "@/components/navigation/AuthHeader.astro";
import ForgotPasswordCard from "@/components/auth/ForgotPasswordCard.tsx";

export const prerender = false;
---

<Layout title="Reset hasła" hideTopbar={true}>
  <AuthHeader currentPage="forgot-password" />
  <main class="min-h-[calc(100vh-3.5rem)] flex items-center justify-center p-4">
    <ForgotPasswordCard client:load />
  </main>
</Layout>


