---
import Layout from "@/layouts/Layout.astro";
import AuthHeader from "@/components/navigation/AuthHeader.astro";
import ResetPasswordCard from "@/components/auth/ResetPasswordCard.tsx";

export const prerender = false;
---

<Layout title="Reset hasła" hideTopbar={true}>
  <AuthHeader currentPage="reset-password" />
  <main class="min-h-[calc(100vh-3.5rem)] flex items-center justify-center p-4">
    <ResetPasswordCard client:load />
  </main>
</Layout>


