---
import Layout from "@/layouts/Layout.astro";
import ForgotPasswordCard from "@/components/auth/ForgotPasswordCard.tsx";

export const prerender = false;
---

<Layout title="Reset hasła" hideTopbar={true}>
  <main class="min-h-screen flex items-center justify-center p-4">
    <ForgotPasswordCard client:load />
  </main>
  
</Layout>


