---
import Layout from "@/layouts/Layout.astro";
import ResetPasswordCard from "@/components/auth/ResetPasswordCard.tsx";

export const prerender = false;
---

<Layout title="Reset hasła" hideTopbar={true}>
  <main class="min-h-screen flex items-center justify-center p-4">
    <ResetPasswordCard client:load />
  </main>
</Layout>


